body {
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    color: hsl(0, 0%, 7%);
    margin-left: 25px;
    font-size: 23px;
    }


h2 {
    color: hsl(0, 0%, 7%);
    margin-left: 25px;
    font-size: 16px;
}

h3 {
    color: hsl(0, 0%, 7%);
    font-size: 16px;
}

p {
    margin-left: 25px;
    color: hsl(0, 0%, 42%)
}

a:hover {
    color: hsl(47, 88%, 63%);
}

.position {
    display: flex;
    justify-content: center;
}

.img-main {
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

.img-avatar {
    scale: 50%;
    margin-bottom: 20px;
    margin-left: 10px;
    position: absolute;
}

.rectangle {
    border: 1px solid;
    border-color: black;
    border-radius: 25px;
    height: 500px;
    width: 380px;
    background: hsl(0, 0%, 100%);
    box-shadow: 10px 10px 0px 0px black;
}

.rectanglelearning {
    border-radius: 5px;
    width: 80px;
    height: 25px;
    background: hsl(47, 88%, 63%);
    margin-left: 22px;
    text-align: center;
}

.rectangle-background {
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 30px;
    height: 580px;
    width: 380px;
    background: black;
}

.name {
    margin-left: 70px;
    position: absolute;
    font-size: 16px;
}

.ex a:hover {
    background-color: hsl(47, 88%, 63%);
}

.attribution{
    margin-top: 25px;
}